<!-- Footer partial for all pages -->

<!-- tell FOOTER to go to the bottom using margin top auto -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy YelpCamp 2022</span>
    </div>
</footer>

