/* Style for home page*/

body {
    /* 100 view height */
    height: 100vh;
    /* two background images first is a black gradient */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1559521783-1d1599583485?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
    /* 60 view width */
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgb(255, 255, 255, 0.5);
    margin-left: 1rem;
    /* transparent border on bottom but when you hover over them it will display */
    border-bottom: 0.25rem solid transparent;   
}

.nav-link:hover{
    color: rgb(255, 255, 255, 0.5);
    border-bottom-color: rgb(255, 255, 255, 0.5);
}

/* make active link that is home, white */
.nav-link.active {
    color: white;
    border-bottom-color: white;   
}

.btn-secondary, .btn-secondary:hover{
    color: #333;
    text-shadow: none; /* so it doesn't inherit text-shadow from the body */
}
